.navbar-default {
    background-color: #2DA11D;
    border-color: #004400;
}
.navbar-default .navbar-nav > li > a {
    color: #ffff45;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #F2F409;
    color: #0D0D09;
}